<section>
        <div class="form-container">
            <div class="form login-form" >
                <form [formGroup]="loginForm">
                    <div class="title">
                        <h2>LOGIN</h2>
                    </div>
                    <div class="form-input">
                        <input type="text" name="email"  formControlName="email" placeholder="Email" />
                    </div>
                    <div class="form-input">
                        <input type="password" name="password" formControlName="password" placeholder="Password" />
                    </div>
                    <span *ngIf="error" [ngStyle]="{'color': 'red'}">{{error}}</span>
                    <!-- <custom-button (click)="login()" buttonName="Sign In" className="custom-button"></custom-button>                    
                    <custom-button buttonName="Sign Up" (click)="signUp()" className="custom-button"></custom-button> -->
                </form>                
            </div>
        </div>
    </section>