 <section>
        <div class="form-container">
            <div class="form sign-form" >
                <form>
                    <div class="title">
                        <h2>SIGN UP</h2>
                    </div>
                    <div class="form-input">
                        <input type="text" name="firstName" placeholder="First Name" />
                    </div>
                    <div class="form-input">
                        <input type="text" name="lastName" placeholder="Last Name" />
                    </div>
                    <div class="form-input">
                        <input type="text" name="email" placeholder="Email" />
                    </div>
                    <div class="form-input">
                        <input type="text" name="mobileNumber" placeholder="Mobile Number" />
                    </div>
                    <div class="form-input">
                        <input type="text" name="address" placeholder="Address" />
                    </div>
                    <div class="form-input">
                        <input type="password" name="password" placeholder="Password" />
                    </div>
                    <div class="form-input">
                        <input type="password" name="confirmPassword" placeholder="Confirm Password" />
                    </div>
                    
                    <div class="button-container">
                        <button type="submit">SIGN IN</button>
                    </div>  
                </form>
                
            </div>
        </div>
    </section>