
<div class="theme-container light">
    <section>
        <div class="container">
            <div class="grid-container">
                <div class="product-container" *ngFor="let product of allProducts" (click)="gotoProduct(product)">
                    <div class="image-container">
                        <img [src]="product.image ? product.image : '../../assets/images/futuristic-fingerprint-background_23-2148372642.jpg'"
                            alt="image">
                    </div>
                    <div class="details-container">
                        <div class="title">
                            <label>{{product.productName}}</label>
                        </div>
                        <div class="subtitle">
                            <label>product details</label>
                            <div class="edit">
                                <img (click)="editSelectedProduct($event,product)" src="" alt="edit">
                                <img (click)="deleteSelectedProduct($event,product)" src="" alt="delete">
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </section>
</div>